[Unit]
Description=Makerspace Door Control
After=multi-user.target

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/door/randDoorLight.py 

[Install]
WantedBy=multi-user.target
